@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Comfortaa', cursive;
}
#bg-container{
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(28, 28, 28);
    color: whitesmoke;
    width: 100%;
    padding: 5px 80px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo-branding{
    display: flex;
     
}
#brand-name{
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;
}
.tagline{
    color: whitesmoke;
    font-size: 11px;
    font-weight:400 ;
    font-family: 'Poppins', sans-serif; 
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.logo svg{
    width: 100%;
    fill: whitesmoke;
}
.cart{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart p{
    font-size: 26px;
    margin-left: 1em;
}
.cart p a{
    color: white;
    cursor: pointer;
}
#social-twitter:hover{
    color: lightskyblue;
}
#social-github:hover{
    color: lightgreen;
}
#social-demo:hover{
    color:gold
}
#social-linkedin:hover{
    color: rgb(40, 110, 242);
}
.cart #item-count{
    position: absolute;
    background: crimson;
    padding: 5px;
    border-radius: 50%;
    font-size: 10px;
    width:20px;
    height: 20px;
    text-align: center;
}
.container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 600px;
}
.offer-desp{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 10px; 
}
.offer-desp h2{
    color: whitesmoke;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.offer-desp p{
    color: whitesmoke;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 14px;
}
.offer-desp p #quote{
    color: tomato;
    font-size: 1.4em;
}
.product{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.arrow-left, .arrow-right{
    background: whitesmoke;
    color:rgba(0, 0, 0, 0.50);
    width: 50px;
    font-size: 20px;
    font-weight:700;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.50);
    transition: 0.1s ease-in-out;
}
.arrow-left:active{
    background: rgb(28, 28, 28);
    color: whitesmoke;
}
.arrow-right:active{
    background: rgb(28, 28, 28);
    color: whitesmoke;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    margin-top: 1em;
}
.product-details{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.product-details figure{
    position: relative;
    width: 400px;
    transition: 0.3s ease-in-out;

}
.product-details figure img{
width: 100%;
min-width: 300px;
object-fit: cover;
border: 5px solid white;
border-radius: 10px;

}
.img-magnifier-glass {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}
.product-details figcaption{
    color: rgba(0, 0, 0, 0.50);
    font-size: 10px;
}
.product-name-desp{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 10px;
}
.product-name-desp h3{
    font-size: 2.1em;
    font-weight: 700;
    margin:10px 0px;
    color: rgb(31, 31, 31);
}
.product-name-desp .description{
    line-height: 1.6;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: rgb(111, 111, 111);

}
.product-name-desp p{
    text-align: justify;
}
.price{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.price-color{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.color-options{
    margin-top: 20px;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-color, .second-color, .third-color{
    margin-right: 1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(186, 186, 186);
    cursor: pointer;
}
.first-color{
    background: blue;
}
.second-color{
    background: crimson;
}
.third-color{
    background: black;
}
.special{
    max-width: 110px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 20px;
    background: crimson;
    color: white;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}
.size-color{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}
.size-color label{
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
}
.size-color #size-select{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 5px;
    border-radius: 2px;
}
.size-color #color-select{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 5px 10px;
    border-radius: 2px;
}
.quantity-buy{
    padding: 10px;
}
.quantity-buy label{
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
}
.quantity-buy #quantity-select{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 5px 10px;
    border-radius: 2px;
}
.quantity-buy button{
    outline: none;
    border: 1px solid rgb(28, 28, 28);
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 10px;
    background: rgb(28, 28, 28);
    color: seashell;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}
.quantity-buy button:hover{
    color: rgb(28, 28, 28);
    background: seashell;
    border:0.5px solid rgb(28, 28, 28);
}
.product-options{
    background: whitesmoke;
    padding: 5px; 
}
.product-op{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%; 
}

@media  screen and (max-width: 750px) {
    .product-details{
        flex-direction: column;
    }
    .container{
        margin-top: 18%;
    }
    .product-details figcaption{
        text-align: right;
    }
    .cart p{
        font-size: 18px;
    }
}